 body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAF8F5;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.container {
    padding: 40px;
    width: 80%;
}
.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.btn {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #ffffffff;
    font-size: 14px;
}
.btn-add {
    background-color: #478ECC;
}

.btn-delete {
    background-color: #FF383C;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    background-color: #ffffffff;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

th {
    background-color: #F4F7FA;
    color: #333333ff;
    padding: 12px;
    text-align: left;
    font-weight: 600;
}

td {
    padding: 10px 12px;
    border-top: 1px solid #cececeff;
    text-align: left;
    color: #333333ff;
}
.action{
    text-align: center;
}
tr:hover {
    background-color: #f9f9f9;
}